.container {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #2b2b2b;
}

.subtitle {
  font-size: 1.25rem;
  margin-top: 10px;
  color: #555;
}

.button {
  background-color: var(--color-primary) !important;
  color: var(--color-tertiary) !important;
  text-transform: none !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
  margin-top: 30px;
  padding: 12px 24px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15) !important;
  cursor: pointer !important;
  transition: background-color 0.2s ease-in-out !important;
}

.button:hover {
  background-color: var(--color-secondary) !important ;
  color: var(--color-primary) !important;
}

.button:hover {
  background-color: #1e6ec1;
}
